<section class="mat-elevation-z8">
  <mat-form-field id='filter'>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Jean" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort aria-describedby="local storage users">

    <ng-container matColumnDef="lastname">
      <th id='lastname' mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th id='firstname' mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
      <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th id='phone' mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
      <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th id='region' mat-header-cell *matHeaderCellDef mat-sort-header> Région </th>
      <td mat-cell *matCellDef="let row"> {{row.region}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th id='delete' mat-header-cell *matHeaderCellDef > Supprimer </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon class='pointed' color='accent' aria-hidden="false" aria-label="delete user" (click)='delete(row)'>delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="legend" *matNoDataRow>
      <td *ngIf="users.length == 0" class="mat-cell" colspan="4">Ce navigateur ne contient aucun utilisateur enregistré</td>
      <td *ngIf="users.length != 0"class="mat-cell" colspan="4">Aucun résultat pour: "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</section>
