/* You can add global styles to this file, and also import other style files */
@import "theme";

/* GLOBAL LAYOUT STYLES */

::-moz-selection { background: #b3ecf2; color: white; }
::selection { background: #b3ecf2; color: white; }

* { margin: 0; padding: 0; box-sizing: border-box; }
html, app-root, body { min-height: 100vh; }
app-root, body, app-home, app-profile, app-dashboard { height: 100%; width: 100%; }
app-root {
    display: flex;
    flex-flow: row wrap;
    place-content: center space-evenly ;
    overflow: hidden;
    #users-table {
      flex: 1;
    }
    #users-table, #users-form {
      margin: 2rem;
    }
}

body {
    background: #CCC;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* GLOBAL FONT STYLES */
p, a, li, button, .mat-chip, .is-bold, strong, .is-italic, i, em { font-family: Verdana, Tahoma, sans-serif !important; }
p, a, li, button, .mat-chip { font-weight: normal !important; font-style: normal !important;}
.is-bold, strong { font-weight: bold !important; }
.is-italic, i, em { font-style: italic !important; }
h1 {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

/* UTILITARY STYLES */
.spaced {
    padding: 1.25rem 2rem;
    &-lg { padding: 2.5rem 4rem}
    &-xs { padding: .65rem 1rem}
}
.legend { color: #AAA; font-style: italic; padding: .5rem;}
hr.spacer { opacity: 0; height: 2rem; }
.disabled { cursor: not-allowed;}
.helped { cursor: help;}
.pointed { cursor: pointer;}
.centered { text-align: center;}
